DOMAIN=localhost
ACME_EMAIL=admin@example.com

DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000,https://localhost

TELEGRAM_BOT_TOKEN=
TELEGRAM_ADMIN_CHAT_ID=
TELEGRAM_WEB_APP_URL=

DB_ENGINE=django.db.backends.postgresql
DB_NAME=japanese_sword
DB_USER=japanese_sword
DB_PASSWORD=japanese_sword_password
DB_HOST=127.0.0.1
DB_PORT=5432

